{
  "vars": {
     "svn_base": "https://svn.raisin.systems/svn/wsfsgc",
     "br_base": "${HOME}/dev/svn/opsys/branches"
  },
  "cmds": {
    "cob": "cd {{br_base}} && svn checkout {{svn_base}}/branches/{{1}} && cd {{1}} && projtool init",
    "cut-fb": "open http://ci.savingglobal.com/view/Release\\ or\\ Branch/job/branch-make-opsys-feature-branch/build?delay=0sec",
    "diff": "svn diff --diff-cmd svn-p4-diff {{args}}",
    "down": "{{root}}/bin/update-merge.sh",
    "branches": "svn list {{svn_base}}/branches | grep '/$' | sed 's/\\/$//'",
    "fb": "svn list {{svn_base}}/branches | grep '/$' | sed 's/\\/$//' | grep ^fb-opsys-",
    "merge": "svn merge {{args}}",
    "mergeback": "open http://ci.savingglobal.com/job/branch-reintegrate-feature-branch/build?delay=0sec",
    "pom": "{{root}}/bin/update-merge.sh",
    "reintegrate": "open http://ci.savingglobal.com/job/branch-reintegrate-feature-branch/build?delay=0sec",
    "status": "svn status {{args}}",
    "review": "( source ./svn-branch-description.sh ; svn diff --old $BRANCH_PARENT_URL --new $BRANCH_URL --diff-cmd svn-p4-diff '{{args}}' )"
  },
  "default": "svn {{@}}"
}
