{
  "vars": {
     "vroot": "${HOME}/dev/svn/opsys/trunk/opsys/vagrant/init"
  },
  "cmds": {
    "ls": "( cd {{vroot}}; vagrant global-status )",
    "sh": "( cd {{vroot}}; vagrant ssh )",
    "ssh": "( cd {{vroot}}; vagrant sssh )",
    "snapshot": "( cd {{vroot}}; vagrant snapshot {{args}} )",
    "go": "cd {{vroot}}"
  },
  "default": "( cd {{vroot}}; vagrant {{@}} )"
}
