{
  "debug": false,
  "root": {
    "contains": ["pom.xml", "bin", "vagrant"],
    "default": "{{home}}/dev/svn/opsys/trunk/opsys"
  },
  "vars": {
     "vroot": "{{home}}/dev/svn/opsys/trunk/opsys/vagrant/init"
  },
  "cmds": {
    "ls": "cd {{vroot}}; vagrant ls",
    "sh": "cd {{vroot}}; vagrant ssh"
  },
  "default": "cd {{vroot}}; vagrant {{@}}"
}
