{
  "debug": false,
  "cmds": {
    "a": "tmux new-session -t main",
    "it2": "tmux -CC attach",
    "ls": "tmux list-windows -a -F '#{session_id}:#{window_index} #{window_id} #{window_name}#{?window_active,*,}#{?window_bell_flag,!,}#{?window_last_flag,-,}'",
    "lw": "tmux link-window -s {{1}}",
    "ra": "tmux new-session -t main",
    "uw": "tmux unlink-window -t {{1}}"
  },
  "default": "tmux {{@}}"
}
