{
  "vars": {
     "svn_base": "https://svn.abaxx.de/svn/wsfsgc",
     "br_base": "${HOME}/dev/svn/opsys/branches"
  },
  "cmds": {
    "cob": "cd {{br_base}} && svn checkout {{svn_base}}/branches/{{1}} && cd {{1}} && projtool init",
    "cut-fb": "open http://ci.savingglobal.com/view/Release\\ or\\ Branch/job/branch-make-feature-branch/build?delay=0sec",
    "down": "{{root}}/bin/update-merge.sh",
    "branches": "svn list {{svn_base}}/branches | grep '/$' | sed 's/\\/$//'",
    "fb": "svn list {{svn_base}}/branches | grep '/$' | sed 's/\\/$//' | grep ^fb-opsys-",
    "mergeback": "open http://ci.savingglobal.com/job/branch-reintegrate-feature-branch/build?delay=0sec",
    "reintegrate": "open http://ci.savingglobal.com/job/branch-reintegrate-feature-branch/build?delay=0sec",
    "status": "svn status {{args}}"
  },
  "default": "svn {{@}}"
}
