{
  "cmds": {
    "activate": "workon {{args}}",
    "da": "deactivate",
    "deactivate": "deactivate",
    "info": "showvirtualenv {{args}}",
    "ls": "workon",
    "mk": "mkvirtualenv {{args}}",
    "mktmp": "mktmpenv --no-cd {{args}}",
    "new": "mkvirtualenv {{args}}",
    "rm": "rmvirtualenv {{args}}",
    "tmp": "mktmpenv --no-cd {{args}}",
    "workon": "workon {{args}}"
  },
  "default": "virtualenvwrapper {{@}}"
}
