{
  "vars": {
     "svn_base": "https://svn.abaxx.de/svn/wsfsgc",
     "br_base": "${HOME}/dev/svn/opsys/branches"
  },
  "cmds": {
    "down": "{{root}}/bin/update-merge.sh",
    "branches": "svn list {{svn_base}}/branches | grep '/$' | sed 's/\\/$//'",
    "fb": "svn list {{svn_base}}/branches | grep '/$' | sed 's/\\/$//' | grep ^fb-opsys-",
    "cob": "cd {{br_base}} && svn checkout {{svn_base}}/branches/{{1}} && cd {{1}} && projtool init",
    "mergeback": "open http://ci.savingglobal.com/job/branch-reintegrate-feature-branch/build?delay=0sec"
  },
  "default": "svn {{@}}"
}
