{
  "cmds": {
    "activate": "activate {{args}}",
    "ls": "workon",
    "info": "showvirtualenv {{args}}",
    "mk": "mkvirtualenv {{args}}",
    "mktmp": "mktmpenv --no-cd {{args}}",
    "rm": "rmvirtualenv {{args}}",
    "deactivate": "deactivate {{args}}"
  },
  "default": "virtualenvwrapper {{@}}"
}
